.mui-card-content{border-bottom: 1px #dadadd solid;}
.mui-card-media{    margin: 5px; height: 20vw;}
.mui-card-footer a{ color: #333;}
.mui-card-content-inner{ padding: 10px 15px;}
.mui-card{ display: block;}
.main-content{ background: #efeff4;}
.card-detail p {color: #333;}