/*榛樿灞炴�ф竻闄�*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td
{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6
{font-size:100%}
ol,ul
{list-style:none;}
address,caption,cite,code,dfn,em,strong,th,var
{font-style:normal; font-weight:normal;}
fieldset,img
{border:0;}
caption,th
{text-align:left;}
q:before,q:after
{content:'';}
.clearfix:before, .clearfix:after { content:""; display:table;}
.clearfix:after { clear:both;}
.clearfix { *zoom:1;}
a {
    outline: none;
    behavior:expression(this.onFocus=this.blur());
}
body a[onclick],body a[id],button{cursor:pointer;}
/****/
html{height:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{background-color:#fff;margin:0;padding:0;width:100%;height:auto;min-height:100%;;min-width:320px;
    font-family:Microsoft Yahei, Arial, sans-serif,"PingFang SC",Arial;
    font-size:13px;line-height:1.35; color:#666;
    -webkit-touch-callout:none;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-align:stretch;}
a{text-decoration:none; color: #666}
article,aside,dialog,footer,header,section,nav,figure,menu{display:block}
body *{margin:0;outline:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);}
img,a,button,input[type=button],input[type=submit],._unslt{user-select:鈥媙one;-webkit-user-select:鈥媙one;}
th,td,caption{vertical-align:middle}
textarea{resize:none;border:0;padding:8px 0;border-radius:0}
ul,li,p{list-style:none;margin:0;padding:0}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;font-weight:400}
._clr_{clear:both;float:none!important;width:0!important;height:0!important;margin:0!important;padding:0!important;color:transparent;border:none!important;overflow:hidden;}
/*-- 鍏叡鏍峰紡 --*/
.fl { float: left; }
.fr { float: right; }
.c-red { color: #ff0000 }
.c-gary { color: #999 }
.c-gary6 { color: #666 }
.c-blue { color: #248ce6 }
.bold { font-weight: bold; }
.text-left { text-align: left; }
.text-center { text-align: center; } .text-right { text-align: right; }
.f12 { font-size: 12px } .f18 { font-size: 18px } .f20 { font-size: 20px; } .f24 { font-size: 24px; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.mt-20 { margin-top: 20px; }
.no-ma { margin:0 !important; }
.f12 { font-size: 12px } .f18 { font-size: 18px } .f20 { font-size: 20px; } .f24 { font-size: 24px; }
.ml-10 { margin-left: 10px; }
.ml-20 { margin-left: 20px; }
.mt-20 { margin-top: 20px; }
.no-ma { margin:0 !important; }

/*-- 鍙宠竟鍐呭 --*/
.right-div { padding-bottom:10px;float:left;margin-right:0;width:795px;padding-top: 10px;}
.user-center { background-color:#eff3f7;float:left;width:100%;min-width:500px;margin-right:-10px;min-height:100%;}
.bt_time { cursor: pointer; background: #FFF url(../images/userCenter/time_grey.png) no-repeat scroll right center; padding: 0px 5px 0px 5px;}
/*-- alert鎻愮ず妗� @ Moda --*/
#_alert_{position:fixed;background-color:rgba(50,50,50,0.2);width:100%;height:100%;left:0;top:0;z-index:88;}
._alert_{width:265px;background:#fff;border:2px #ddd solid;box-sizing:border-box;border-radius:4px;font-size:12px;line-height:18px;position:fixed;left:50%;top:50%;margin-left:-135px;margin-top:-130px;min-height:150px; color: #666;}
._alert_>.title{height:44px;position:relative;border-bottom:1px #D7D7D7 solid;margin:0 15px;}
._alert_>.title>span{height:45px;border-bottom:3px #ea721a solid;position:absolute;line-height:46px;padding:0 3px;font-size:13px;}
._alert_  .btn_close{position:absolute;width:24px;height:24px;top:15px;right:2px;cursor:pointer;}
._alert_  .btn_close:hover>span{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}
._alert_  .btn_close>span{width:18px;height:18px;display:block;background:url(../images/lottery/mdl-icon.png) no-repeat -11px -80px;border:none;
    transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;}
._alert_ .btn_ok:active{background:#0b954d;color:#094124;text-shadow:0 1px #51ba83;box-shadow:2px 2px 10px rgba(0,0,0,0.20) inset}
._alert_ .btn_ok{box-shadow:1px 1px 2px #000;cursor:pointer;width:92px;line-height:32px;font-size:14px;background:#808080;color:#fff;text-align:center;border:0;display:block;margin:20px auto;letter-spacing:6px;word-spacing:6px;padding-left:6px;
    -webkit-transition:all .1s linear;-moz-transition:all .1s linear;-o-transition:all .1s linear;-ms-transition:all .1s linear;transition:all .1s linear; }
._alert_ .btn_ok:hover{background:#ea721a;}
._alert_>p{text-align:center;padding:23px 29px 6px 26px;}
._alert_.anim{animation:0.3s key_alert ease-out;-webkit-animation:0.3s key_alert ease-out;-ms-animation:0.3s key_alert ease-out;transform-origin:center;-webkit-transform-origin:center;-ms-transform-origin:center;}
@-webkit-keyframes key_alert{    0% {-webkit-transform:scale(0.5);opacity:0.8;} 100% {-webkit-transform:scale(1);}}
@-moz-keyframes key_alert{0% {-moz-transform:scale(0.5);;opacity:0.8;} 100% {-moz-transform:scale(1);}}
@keyframes key_alert{    0% {transform:scale(0.5);opacity:0.8;}     100% {transform:scale(1);} }
@-ms-keyframes key_alert{   0% {-ms-transform:scale(0.5);opacity:0.8;}    100% {-ms-transform:scale(1);}}
/*-- alert鎻愮ず妗� 缁撴潫 @ Moda --*/
/*-- confim鎻愮ず妗� @ Moda --*/
#_confim_{position:fixed;background-color:rgba(50,50,50,0.2);width:100%;height:100%;left:0;top:0;z-index:88;}
._confim_{width:265px;background:#fff;border:2px #CBC7C7 solid;box-sizing:border-box;border-radius:4px;font-size:12px;line-height:18px;position:fixed;left:50%;top:50%;margin-left:-135px;margin-top:-130px;min-height:150px; color: #666;}
._confim_>.title{height:44px;position:relative;border-bottom:1px #D7D7D7 solid;margin:0 15px;}
._confim_>.title>span{height:45px;border-bottom:3px #ea721a solid;position:absolute;line-height:46px;padding:0 3px;font-size:13px;}
._confim_  .btn_close{position:absolute;width:24px;height:24px;top:15px;right:2px;cursor:pointer;}
._confim_  .btn_close:hover>span{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);}
._confim_  .btn_close>span{width:18px;height:18px;display:block;background:url(../images/lottery/mdl-icon.png) no-repeat -11px -80px;border:none;
    transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;}
._confim_ .btn_ok:active,._confim_ .btn_cancel:active{background:#0b954d;color:#094124;text-shadow:0 1px #51ba83;box-shadow:2px 2px 10px rgba(0,0,0,0.20) inset}
._confim_ .btn_ok,._confim_ .btn_cancel{box-shadow:1px 1px 2px #000;cursor:pointer;width:92px;line-height:32px;font-size:14px;background-color:#808080;color:#fff;text-align:center;border:0;margin:20px auto;letter-spacing:6px;word-spacing:6px;padding-left:6px;
    -webkit-transition:all .1s linear;-moz-transition:all .1s linear;-o-transition:all .1s linear;-ms-transition:all .1s linear;transition:all .1s linear; }
._confim_ .btn_ok:hover,._confim_ .btn_cancel:hover{background:#ea721a;}
._confim_>p{text-align:center;padding:23px 29px 6px 26px;}
._confim_ .btn_div{width:78%;margin:0 auto;}
._confim_ .btn_cancel{float:right;}
._confim_.anim{animation:0.3s key_alert ease-out;-webkit-animation:0.3s key_alert ease-out;-ms-animation:0.3s key_alert ease-out;transform-origin:center;-webkit-transform-origin:center;-ms-transform-origin:center;}
/*-- confim鎻愮ず妗� 缁撴潫 @ Moda --*/
#ched { background: none; border:0; height: 22px; background: #999; padding:0 10px; color: #fff; display: inline-block; cursor: pointer; vertical-align: middle;}
.ui-datepicker-buttonpane   button.ui-datepicker-current{display:none!important;}
/*-- 缁存姢鏍峰紡 --*/
.tips-sorry { width:600px; margin:60px auto;}
.weixiao { float: left; margin: 10px 10px; }
.sorry-txt { font:22px/60px Microsoft Yahei; float: left; margin-top: 50px;}

#header .logo1{ margin:37px -25px -37px 31px; width: 205px; padding-right: 1px; height:50px;float:left; background: url(../images/userCenter/logo1.png) no-repeat;  }
#header .logo1 a{cursor:pointer;width:200px;height:60px;display:block;margin-top:-10px;margin-left:-15px;}
/*500vip浼氬憳涓績妯℃澘棰滆壊*/
/*-- 涓嬮潰鏄�氱敤鏍峰紡锛氬乏杈筸enu锛屼互鍙� 澶撮儴鏍峰紡 --*/
.menu {background-color:#fff;width:205px;height:100%;min-height:350px;min-width:165px;} /*24%*//*宸﹁竟鑳屾櫙棰滆壊*/
.menu li,.menu div{height:49px;position:relative;border-bottom:1px solid #e7e7e7;border-right:1px solid #e7e7e7;cursor:pointer;}
.menu li.current,.menu div.current{background-color:#efefef;}/*褰撳墠鏍忕洰鑳屾櫙棰滆壊*/
.menu li.current span,.menu div.current span { color: #c51f33;}/*褰撳墠鏍忕洰鏂囧瓧棰滆壊*/
.menu li:hover,.menu div:hover { background:#e7e7e7; }/*榧犳爣绉诲姩鑳屾櫙棰滆壊*/
.menu li>i,.menu div>i{position:absolute; font-size:17px; color:#8d8d8d; width:20px;height:29px;left:17px;top:17px;}
.menu li i.icon-coin-yen,.menu li i.icon-coin-dollar,.menu li i.icon-6,.menu li i.icon-user,.menu li i.icon-users,
.menu div i.icon-coin-yen,.menu div i.icon-coin-dollar,.menu div i.icon-6,.menu div i.icon-user,.menu div i.icon-users { font-size: 20px; top: 15px;}
.menu li i.icon-10,.menu div i.icon-10 { left: 19px;}

.menu li>span,.menu div>span{color:#333;padding-left:55px;line-height:50px;display:block;font-weight:500;font-size:15px;} /*宸﹁竟鑿滃崟鏂囧瓧棰滆壊*/
.menu li>span:hover,.menu div>span:hover{color:#c51f33;}/*榧犳爣绉诲姩鏍忕洰鏂囧瓧棰滆壊*/
#header>div{height:102px; border-bottom:1px solid #e7e7e7}
#header  .header-right{float:right;height:80px; margin-right:74px;padding-top:38px;}
.header-right>div{position:relative;padding-left:24px;color:#333;font-size:12px;}
.header-right>div>i{background:url(../images/userCenter/ics_c99.png) -102px 1px;width:23px;height:23px;position:absolute;left:0px;}

/*-- 涓嬮潰鏄釜浜轰腑蹇冮�氱敤鏍峰紡 --*/
.user-box { min-width:1000px;width:100%;max-width:1000px;margin: 0 auto;}
.wrap {min-height:350px;overflow-y:visible; } .wrap:after,.wrap:before{ clear:both;}
/*-- 浼氬憳涓績 --*/
.head_img{float:left;width:94px;height:94px;border-radius:14px;margin-left:4px;}
.head_img img {width:94px;height:94px;border-radius:8px;background-color:#99968e; }
.user-member { width:325px;margin-left:20px;float:left;}
.outer_member .top{height:56px;position:relative;display:block;line-height:66px;font-size:16px;font-weight:500;padding-left:37px;}
.outer_member .top>i{position:absolute;width:30px;height:30px;left:1px;top:19px;}
.outer_member .con{border-radius:5px;border:1px solid #e9ecee;background-color:#fff;padding:0px;}

.news-center {width:395px;margin-left:20px;float:left;}
.user-account{height:32px;line-height:33px;}
.user-account>span{height:32px;padding-right:23px;float:left;position:relative;}
.user-account>span>i{position:absolute;right:0;top:2px;width:21px;height:23px;background:url(../images/userCenter/ics.png) -78px -34px;}
.pers-info{margin-top:4px;}
.pers-info>a{float:left;position:relative;height:29px;line-height:30px;padding:0 5px 0 25px;cursor:pointer;}
.pers-info>a>i{width:22px;height:21px;position:absolute;left:4px;top:6px;}
.pers-info>span{width:1px;height:11px;background-color:#B8B8B8;float:left;margin:9px 6px 2px 6px;}
.user-online{float:left;padding:13px; box-sizing: border-box;}
.user-online h1{display:block;text-align:center;font-size:15px;}
.user-online h1 span{padding-right:31px;position:relative;}
.user-online h1 span i{width:29px;height:20px;position:absolute;right:0px;}
.user-online a>i{display:block;margin:4px auto 0 auto;width:87px;height:88px;}
.user-online>p{font-size:13px;color:#888;padding-top:5px;text-align: center;}
.user-online .pay{background:url(../images/userCenter/ics.png) 0 -85px no-repeat;}
.user-online .with{background:url(../images/userCenter/ics.png) -180px -85px no-repeat;}
.user-news{background-color:#fff;margin-right:5px;min-height:220px;max-height:250px;overflow-y:auto;}
.user-news .row{position:relative;min-height:90px;padding:20px 25px 20px 0;}
.user-news .row>i{position:absolute;z-index:2;width:67px;height:47px;background:url(../images/userCenter/grey.jpg) no-repeat right;left:17px;top:30px;}
.user-news .row:hover>div{border:2px solid #177fd9!important;margin-left:82px!important;padding-bottom:16px!important;}
.user-news .row:hover>i{background:url(../images/userCenter/blue.jpg) no-repeat right!important;}
.user-news .row:first-of-type>div{border:2px solid #177fd9!important;margin-left:82px!important;padding-bottom:16px!important;}
.user-news .row:first-of-type>i{background:url(../images/userCenter/blue.jpg) no-repeat right!important;}
.user-news .row>div{border:1px solid #e8e8e8;border-radius:5px;-ms-border-radius:5px;margin-left:83px;min-height:74px;position:relative;padding:18px 20px 18px 74px;}
.user-news .row>div>i{position:absolute;width:40px;height:50px;background:url(../images/userCenter/ics.png) no-repeat -119px  -190px;left:22px;top:11px;  }
.user-news .row>div>p:first-of-type{padding-bottom:6px;}.user-news .row>div>p{word-break: break-all;}
.user-news .row>div>p>strong{color:#177fd9;padding-right:10px;}
.user-news .row>div>p>span{color:#ff9835;font-size:12px;position:relative;display:inline-block;padding-right:17px;}
.user-news .row>div>p>span>i{position:absolute;width:10px;height:10px;background:url(../images/userCenter/ics.png) no-repeat -99px -33px;right:1px;top:3px;}
.online-reposit {width:425px;margin-left:20px;float:left;}

.tag_div .btn_1 {}
.mess-icon {background:url(../images/userCenter/ics.png) 0 2px}
.posit-icon {background:url(../images/userCenter/ics.png) -32px 2px;}
.hot-icon1 {background:url(../images/userCenter/ics.png) 0 -59px}
.hot-icon2 {background:url(../images/userCenter/ics.png) -36px -59px;}
.tip-icon { background:url(../images/userCenter/ics.png) 0 -33px;}
.unread-icon { background:url(../images/userCenter/ics.png) -26px  -33px;}
.pass-icon { background:url(../images/userCenter/ics.png) -52px -33px;}

/*涓嬮潰鏄紝鐢ㄦ埛涓績鐨� 鏃堕棿鎺т欢锛孈 moda */
/*.ui-datepicker-buttonpane   button.ui-datepicker-current{display:none!important;}*/
.pay-top_1>a{cursor:pointer;float:left;width:140px;height:41px;line-height:42px;color:#fff;text-align:center;background-color:#248ce6;border-right:1px solid #fff;}
.pay-top_1>a.current{background-color:#ff9835!important;}
.pay-top_1 .current{cursor:auto!important;}
.pay-form1{display:block;margin:0 10px 0 10px;padding:18px 0 20px 0;border-bottom:1px solid rgb(210,210,210);}
.pay-form1 .row{height:52px;position:relative;padding-left:130px;}
.pay-form1 .row>label{position:absolute;padding-right:5px;text-align:right;width:135px;top:0;left:0;height:55px;line-height:56px;margin-top:0!important;}
.pay-form1 .row>*{float:left;margin-top:12px;height:32px;position:relative;width:485px;}
.pay-form1 .row>div>input{height:33px;line-height:36px;padding:0px 6px;border:1px solid rgb(210,210,210);border-radius:3px;text-align:left;}
.pay-form1 .row>div>select{height:33px;line-height:36px;padding:0 0 0 6px;border:1px solid rgb(210,210,210);width:60px;border-radius:3px;margin-right:9px;text-align:center;}
.pay-form1 .row>div>*{float:left;height:33px;line-height:36px;}
.btn{width:82px;border-radius:3px;height:32px;text-align:center;line-height:32px;color:#fff;background-color:#ff9835;cursor:pointer;}
.tip_input_blue{height:35px;line-height:35px;color:#248ce6;margin-right:18px;font-size:16px;}
.tips>p{margin-bottom:7px;}
.details-right .head{position:relative;padding:5px 10px 5px 85px;height:80px;}
.details-right .head>strong{display:block;color:#ff9835;font-size:18px;padding-top:8px;}
.details-right .head>p{display:block;color:#248ce6;padding-top:8px;}
.details-right .head i{background:url(../images/userCenter/ics.png) no-repeat -113px -54px;width:55px;height:55px;top:12px;left:25px;background-size:250px;position:absolute;}
.checkList>div{padding-right:15px;}
.checkList>span{padding:1px 20px 8px 20px;text-align:center;}
.details-right .head1>strong{display:block;color:#248ce6;font-size:20px;padding-top:15px;}
.details-right .head1>p{display:block;color:#ff9835;}
.details-right .head1 i{background:url(../images/userCenter/ics.png) no-repeat -120px -190px;width:55px;height:55px;top:12px;left:30px;position:absolute;}
.details-right .table_div{margin:5px 0px;min-height:94px;}
.details-right .table_div>div:last-of-type{margin-right:-10px;}
.details-right .table_div>div{border-top:1px solid #e9ecee;float:left;min-height:35px;border-right:1px solid #e9ecee;min-width:70px;margin-bottom:25px;margin-left:-1px;border-left:1px solid #e9ecee;}
.details-right .table_div>div:first-of-type{border-left:1px solid #e9ecee;}
.details-right .table_div>div>div{width:100%;text-align:center;height:35px;line-height:36px;border-bottom:1px solid #e9ecee;padding:0 6px;font-size:12px;}
.details-right .table_div .head{color:#fff;background-color:#248ce6;}
.play-wrap{margin-top:8px;}
.play-wrap:after{clear:both;}
.pay-select select{width:210px !important;}
.pay-int{width:210px;color:#666;}
.pay-info-tit{padding:30px;font-family:"瀹嬩綋"}
.pay-info-tit .tips{line-height:22px }
/*-- 鍦ㄧ嚎瀛樻 --*/
.deposit-info{float:left;width:720px;background:#fff;margin-left:11px;min-height:653px;}
.pay-button{width:200px;margin-left:130px;margin-top:10px;}
.details-right {float:left;background-color:#f8fbfe;margin-right:-10px;width:245px;border:1px solid  #e9ecee;min-height:645px;}
.details-right:after{clear:both;}
.pay-online-btn{border:2px solid #6eabec;border-radius:4px;line-height:41px;height:41px;width:160px;margin:10px 0 0 30px;position:relative;text-align:center;color:#6eabec;display:block;cursor:pointer;}
.pay-dian{background:url(../images/userCenter/pay_dian.png) no-repeat 0 0px;width:10px;height:13px;display:inline-block;}
.pay-two img{width:170px;height:170px;border-radius:7px;background-color:#F8F8F8;}
/*-- 閾惰鍗″叆娆� --*/
.bank-wrap{background:#fff;border:1px solid #e9ecee;margin:20px;font-family:"瀹嬩綋";font-size:12px;}
.bank-top{padding:30px;line-height:30px;}
.bank-top h3{font-family:Microsoft Yahei;}
 .copy_outer{position:relative;display:inline-block;padding:9px 8px 6px 8px;cursor:pointer;min-height:30px;margin:-9px 1px;}
.zclip embed{position:absolute;left:0;top:0;width:100%;height:100%;}
.bank-tit ul li{background:#248ce6;float:left;width:25%;border-right:1px solid #fff;height:40px;line-height:40px;text-align:center;color:#fff;}
.bank-tit ul li.active{background:#ff9835;}
._bank_button  button{border:none;background-color:#ff9835;color:#fff;border-radius:3px;text-align:center;min-width:90px;height:28px;padding:2px  10px;}
._bank_button  button:hover{background-color:#E48730;}
.bank-mess { float: left; }
.bank-info{padding:0 0 0 40px;line-height:30px;overflow:hidden;border-bottom:1px solid #e9ecee }
.bank-info div.row{margin:20px 0;overflow:hidden;width:100%;min-height:100px;}
.bank-info input{float:left;margin:50px 30px 0 30px;}
.bank-btn{text-align:center;margin:10px 0;}
.bank-btn .btn-blue,.bank-btn .btn-orange{margin-right:10px;border-radius:3px;background:#248ce6;width:82px;height:30px;line-height:30px;color:#fff;display:inline-block;cursor:pointer;}
.bank-btn .btn-orange{background:#ff9736 }
.copy-btn{background:#f8f8f8;border:1px solid #d4d4d4;width:74px;height:25px;box-shadow:1px 3px 5px #f8f8f8;background:linear-gradient(#f9f9f9, #e2e2e2);display:inline-block;text-align:center;line-height:25px;}
.bank-order-info .bt_time{cursor:pointer;background:#FFF url(../images/userCenter/time_grey.png) no-repeat scroll right center;padding:0px 5px 0px 5px;}
.bank-order-info{padding:0 0 0 40px;line-height:22px;overflow:hidden;}
.bank-table{text-align:center;width:90%;margin-bottom:10px;}
.bank-table tr td{background:#fff;line-height:50px;height:50px;}
.bank-order{padding:20px;border:1px solid #ddd;width:80%;margin-top:20px;overflow:hidden;}
.bank-order ul li{clear:both;height:45px;line-height:45px;}
.bank-order-l{float:left;font-weight:bold;width:92px;text-align:right;padding-right:5px;}
.bank-order-r .int{border:1px solid #ddd;width:183px;height:30px;line-height:30px;text-align:center;padding:0 5px;font-family:"瀹嬩綋";color:#666;border-radius:3px;float:left;margin-top:7px;}
.int-bg{background:#f4f4f4 }
.bank-order-int{float:left;width:80%;}
.bank-order label{float:left;width:110px;overflow:hidden;height:30px;}
.order-radio{float:left;margin:15px 5px 0 0px;}
.bank-order-time{float:left;margin:5px 0 0 10px;}
.bank-order-time select{float:left;margin:3px 0px 0 10px;height:30px;border-radius:2px;line-height:30px;border:1px solid #e5e5e5;color:#666;}
.pay-maintain img{float:left;margin-right:10px;}
/**/
.title_tip{line-height:35px;text-align:center;font-size:16px;padding-top:10px;font-weight:500;}
/* 寰俊鏀粯 */
.text-center{text-align:center;line-height:24px;}
.wechat-top{min-height:120px;margin-bottom:8px;background:#E5E5E5;border-radius:4px;}
.wechat-one{min-height:120px;font-size:12px;margin:0px 20px;}
.wechat-tit{color:#E84E05;font-size:15px;padding-top:10px;font-weight:600;}
.wechat-recharge{margin:15px 0 0 50px;float:left;width:350px;}.wechat-recharge>span{padding:1px 9px;}
.wechat-one .btn{height:30px;width:82px;line-height:30px;}
.we-or-left{background:url(../images/userCenter/wechat-orders.png) no-repeat;width:51px;height:42px;float:left;margin:34px 0 0 80px;}
.we-or-tit{float:left;margin:30px 0 0 10px;}
.we-or-tit h3{font-size:22px;color:#3da300;}
.we-or-tit p{line-height:30px;}
.we-blue{color:#248ce6}
.wechat-order{border-bottom:1px solid #e9ecee;margin-bottom:15px;padding-bottom:15px;overflow:hidden;}
.wechat-order .wechat-img{margin:60px 0 0 0px;clear:both;}
.wechat-order .btn{margin:15px 0 0 150px;}
.pay-info-left,.pay-info-right{border:1px solid #c5c5c5;width:330px;float:left;margin:10px 0 0 22px;padding-bottom:10px;height:345px;overflow:hidden;}
.pay-info-right{width:330px;margin-left:15px;}
.pay-tit{height:48px;line-height:48px;color:#3c2929;border-bottom:1px solid #c5c5c5;font-size:16px;}
.pay-info-right .pay-tit{text-align:center;}
.pay-tit i{background:url(../images/userCenter/wei-icon.png);width:30px;height:27px;float:left;margin:10px 10px 0 15px;}
.pay-copy{padding-left:18px;border-bottom:1px solid #c5c5c5;line-height:20px;}
.pay-copy p{overflow:hidden;width:270px;}
.pay-copy .pay-a{float:right;}
.red{color:#f00}
.pay-a{color:#248ce6;}
.pay-box{padding-left:18px;}
.pay-box .row{height:30px;margin-top:12px;line-height:30px;}
.pay-box .row label{float:left;width:105px;}
.pay-box .pay-int,.wechat-int{width:190px;border:1px solid #ddd;height:33px;padding-left:5px;}
.wechat-int{width:150px;border-radius:3px;}
.wechat-three .btn{margin:5px 0 0 150px;}
.pay-wei-btn{background:#248ce6;color:#fff;width:196px;font:14px/32px Microsoft Yahei;border:0}
.wechat-img{margin:20px 0 0 0px;width:100%;}
.wechat-img p{line-height:24px;text-align: center;}
.pay-time select,.pay-time input{float:left;border:1px solid #ddd;height:30px;line-height:30px;margin-right:3px;}
.pay-time .pay-time-icon{background:url(../images/userCenter/pay-time-icon.png);width:16px;height:17px;float:left;margin:8px 5px 0;}
/*鍦ㄧ嚎鏀粯*/
img[name="pay_code_img"]{display:block;margin:0 auto;min-width:76px;max-width: 220px;max-height: 220px;}
//鍦ㄧ嚎鍙栨
.head_img{float:left;width:94px;height:94px;border-radius:14px;margin-left:4px;}
.css1{margin-left:19px;border:1px solid #e9ecee;background-color:#fff;padding:0px;background-color:#fff;margin-right:17px;min-height:220px;max-height:400px;overflow-y:auto;}
.placeholder{color:#999;}
.form{display:block;margin:0 40px 0 40px;padding:7px 0 20px 0;}
.form .row{height:52px;position:relative;padding-left:130px;}
.form .row>label{position: absolute;padding-right:5px;text-align:right;width:135px;top:0;left:0;height:55px;line-height:56px;margin-top:0!important;}
.form .row>label i{color:#ff0000;padding:25px 6px 1px 0;}
.form .row>*{float:left;margin-top:12px;height:32px;position:relative;width:570px;}
.form .row>div>input{height:33px;line-height:36px;padding:0px 6px;border:1px solid rgb(210,210,210);border-radius:3px;margin-right:9px;}
.form .row>div>select{height:33px;line-height:36px;padding:0px 6px;border:1px solid rgb(210,210,210);width:60px;border-radius:3px;margin-right:9px;}
.form .row>div>*{float:left;height:33px;line-height:36px;}
.form .row .width_ipt{width:220px;}
.form  .btn{display:block;width:80px;border-radius:4px;height:36px;text-align:center;line-height:37px;color:#fff;background-color:#248ce6;cursor:pointer;}

.head_img{float:left;width:94px;height:94px;border-radius:14px;margin-left:4px;}
.css1{border-radius:0px;border:1px solid #e9ecee;background-color:#fff;padding:0px;background-color:#fff;margin:15px 0 0 15px;margin-top:8px;min-height:220px;max-height:500px;overflow-y:auto;}
.css3{position:relative;height:79px;padding-left:3px;padding:0 40px;}
.css2{height:32px;line-height:33px;float:left;margin-top:24px;margin-left:14px;}
.css2>span{height:32px;padding-right:23px;float:left;position:relative;}
.css2 .red{color:#ff0000;}
.css2>span>i{position:absolute;right:0;top:2px;width:21px;height:23px;background:url(../images/userCenter/ics.png) -78px -34px;}
.css4{position:relative;height:32px;line-height:33px;float:left;margin-top:24px;margin-left:19px;padding-left:23px;cursor:pointer;}
.css4>span{color:#ff9835;}
.css4>i{position:absolute;left:0;top:10px;width:21px;height:23px;background:url(../images/userCenter/ics.png) -25px -35px;}

.tag_div{height:40px;}
.tag_div>a{float:left;width:50%;text-align:center;line-height:40px;color:#fff;cursor:pointer;}
.tag_div #btn_1 {background-color:#ff9835;}
.tag_div #btn_2 {background-color:#248ce6; margin-right:-10px;}

.placeholder{color:#999;}

.form{display:block;margin:0 40px 0 40px;padding:7px 0 20px 0;}
.form .row{height:52px;position:relative;padding-left:130px;}

.form .row>label{position: absolute;padding-right:5px;text-align:right;width:130px;top:0;left:0;height:55px;line-height:56px;margin-top:0!important;}
.form .row>*{float:left;margin-top:12px;height:32px;position:relative;width:570px;}
.form .row>div>input{height:33px;line-height:36px;padding:0px 6px;border:1px solid rgb(210,210,210);border-radius:4px;}
.form .row>div>select{height:33px;line-height:36px;padding:0 0 0 6px;border:1px solid rgb(210,210,210);width:60px;border-radius:4px;margin-right:9px;}
.form .row>div>*{float:left;height:33px;line-height:36px;}
.form  .btn{display:block;width:80px;border-radius:5px;height:36px;text-align:center;line-height:37px;color:#fff;background-color:#248ce6;cursor:pointer;}

.head_img{float:left;width:94px;height:94px;border-radius:14px;margin-left:4px;}
.top_lab{height:39px;display:block;margin-top:8px;}
.top_lab>div{cursor:pointer;float:left;margin-left:1px;margin-right:2px;height:100%;line-height:40px;font-weight:500;font-size:14px;min-width:78px;text-align:center;border-top-left-radius:5px;border-top-right-radius:5px;background-color:#E4EAE8;}
.top_lab>.current{background-color:#177fd9;color:#fff;cursor:auto;}
.list_outer{background-color:#eff3f7;float:left;width:100%;min-width:500px;margin-right:-10px;min-height:100%;}
.list_outer .list_div{margin-left:15px;padding-bottom:10px;}
.list_outer .rec_box {border-radius:0px;border:1px solid #e9ecee;background-color:#fff;padding:0px;margin-right:15px;min-height:190px;}
.list_outer .rec_bt {position:relative;min-height:78px;padding:18px 20px 18px 15px; line-height:38px; width:100%;}
.list_outer .rec_bt select {height:30px; border:1px solid #e5e5e5; padding-left:5px; margin-right:4px;border-radius:3px;color:#667178;}
.list_outer .rec_bt input {height:30px; border:1px solid #e5e5e5; padding-left:5px; padding-right:20px; margin-right:2px; width:120px;border-radius:3px;color:#667178;}
.list_outer .rec_bt label{display:inline-block;min-width:60px;text-align:right;padding-right:3px;}
.list_outer .bt_time { cursor: pointer; background: #FFF url(../images/userCenter/time_grey.png) no-repeat scroll right center; padding: 0px 5px 0px 5px;}
.list_outer .content { width:100%; }
.list_outer .content table {width:100%;text-align:center; line-height:30px; color:#666; background:#eee;}
.list_outer .content table td { height:36px; background:#fff;}
.list_outer .content table thead td{font-weight:500; color:#fff;background-color:#248ce6; text-align:center; }
.list_outer .cnred {color:#ec1010;display:block;height:100%;}
.list_outer .red{color:#ec1010;}
.list_outer .cnred>a{color:#EA721A;display:block;height:100%;cursor:pointer;text-decoration:underline;}.list_outer .cnred>a:hover{color:#ec1010;}
.list_outer .cnblue {color:#248ce6;}
.list_outer .btn_search{color:#248ce6;border:1px solid #248ce6;border-radius:3px;padding:3px  12px;cursor:pointer;}
.list_outer .cngreen {color:#389e19}
.list_outer .con_fr { text-align:right; padding-right:10px;}
.list_outer .con_cn { text-align:center;}
.list_outer .div_date{display:inline-block;}
.list_outer .ui-datepicker-current{display:none!important;}
.page_lay{background-color:#fff;}
/* 涓嬮潰鏄姇娉ㄨ鎯�,棣栭〉鍏憡锛岀殑寮圭獥 */
.JS_blockPage{display:none;border:1px #E1E1E1 solid;border-radius:5px;z-index:1001;width:576px;height:380px;margin-left:-280px;margin-top:-200px;position:fixed;padding:0px;top:50%;left:50%;text-align:center;background-color:#fff;  }
.detail_dialog{padding:15px;font-size:12px;line-height:18px;position:relative}
.JS_blockPage.big{animation:0.3s key_sb ease-out;-webkit-animation:0.3s key_sb ease-out;-ms-animation:0.3s key_sb ease-out;transform-origin:right;-webkit-transform-origin:right;-ms-transform-origin:right;}
@-webkit-keyframes key_sb{    0% {-webkit-transform:scale(0.5);opacity:0.8;} 100% {-webkit-transform:scale(1);}}
@-moz-keyframes key_sb{0% {-moz-transform:scale(0.5);;opacity:0.8;} 100% {-moz-transform:scale(1);}}
@keyframes key_sb{    0% {transform:scale(0.5);opacity:0.8;}     100% {transform:scale(1);} }
@-ms-keyframes key_sb{   0% {-ms-transform:scale(0.5);opacity:0.8;}    100% {-ms-transform:scale(1);}}
.detail_dialog>table{border-top:1px #8f8f8f solid}
.JS_blockPage .shortWidth{width:80px;text-align:right;padding-right:5px;}
.detail_dialog>h3{display:block;position:relative;font-size:16px;padding:5px 5px 15px 0;font-weight:normal;border-bottom:1px #ea721a solid;z-index:2;color:#EA721A;}
#block_close{width:18px;height:18px;display:block;z-index:3;position:absolute;top:17px;right:18px;cursor:pointer;background:url(../images/lottery/mdl-icon.png) no-repeat -11px -80px;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out}
#block_close:hover{transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg)}
.data{margin-top:20px;background:#fff;font-size:12px;color:#555;line-height:20px;text-align:left;height:140px;overflow:auto;border:1px solid #F4F4F4;border-radius:5px;padding:2px 10px;}
.data table{width: 100%;}
.JS_blockPage .c1{cursor:pointer;}
.data table tr:first-of-type td{border:none;}
.data table td{padding:0;border-top:1px dotted #d5d5d5;height:30px;line-height:30px;table-layout: fixed; word-wrap: break-word; word-break: break-all;}
.data table td textarea{resize: none;}
.data p{height:30px;line-height:30px;}
.detail_dialog h4{display:block;position:relative;font-size:12px;line-height:33px;color:#999;font-weight:normal;padding-top:6px;}
.zdinfo td{line-height:20px;border-bottom:1px #d5d5d5 dashed;padding-bottom:3px}
.detail_dialog .title{margin-top:15px;border-bottom:1px #d5d5d5 dashed;height:35px;line-height:35px;text-align:left;padding-bottom:5px;position:relative}
.data-order{margin-top:5px; height:260px;}
/**/

.head_img{float:left;width:94px;height:94px;border-radius:14px;margin-left:4px;}
.top_lab{height:39px;display:block;margin-top:8px;}
.top_lab>div{cursor:pointer;float:left;margin-left:1px;margin-right:3px;height:100%;line-height:41px;font-weight:500;font-size:14px;min-width:80px;text-align:center;background-color:#E4EAE8;border-top-left-radius:4px;border-top-right-radius:4px;}
.top_lab>.current{background-color:#177fd9;color:#fff;cursor:auto;}
.right-div>div:first-of-type{margin-left:12px;padding-bottom:0px;}
.css4{border-radius:0px;border:1px solid #e9ecee;background-color:#fff;padding:0px;background-color:#fff;margin-right:13px;min-height:49px;max-height:400px;overflow-y:auto;}
.css4 .row{position:relative;min-height:90px;padding:20px 25px 20px 0;}
.css4 .row>i{position:absolute;z-index:2;width:67px;height:47px;background:url(../images/userCenter/grey.jpg) no-repeat right;left:17px;top:30px;}
.css4 .row:hover>div{border:2px solid #177fd9!important;margin-left:82px!important;padding-bottom:16px!important;}
.css4 .row:hover>i{background:url(../images/userCenter/blue.jpg) no-repeat right!important;}
.css4 .row:first-of-type>div{border:2px solid #177fd9!important;margin-left:82px!important;padding-bottom:16px!important;}
.css4 .row:first-of-type>i{background:url(../images/userCenter/blue.jpg) no-repeat right!important;}
.css4 .row>div{border:1px solid #e8e8e8;border-radius:5px;margin-left:83px;min-height:74px;position:relative;padding:18px 20px 18px 78px;}
.css4 .row>div>i{position:absolute;width:48px;height:48px;background:url(../images/userCenter/mesg_1.png) no-repeat #177fd9 center;left:19px;top:19px;  }
.css4 .row>div>p{word-wrap:break-word;}
.css4 .row>div>p:first-of-type{padding-bottom:6px;}
.css4 .row>div>p>strong{color:#177fd9;padding-right:10px;}
.css4 .row>div>p>span{color:#ff9835;font-size:12px;position:relative;display:inline-block;padding-right:17px;}
.css4 .row>div>p>span>i{position:absolute;width:10px;height:10px;background:url(../images/userCenter/ics.png) no-repeat -99px -33px;right:1px;top:3px;}

.recharge_box{width:380px;padding:30px;font:14px/26px "Microsoft YaHei"}
.recharge_box h2{font-size: 16px;font-weight: bold;margin-bottom: 20px;}
.recharge_box p{font:14px/26px "Microsoft YaHei";text-indent:0px}
.recharge_box .recharge_edit{margin:30px 0px;text-align:center;}
.recharge_box .recharge_edit a{display:inline-block;height:24px;font:14px/24px "Microsoft YaHei";background-color:#337ab7;color: #fff;margin-right:10px;padding:2px 10px}
.recharge_box .recharge_edit a.go{background-color:#f0ad4e; }