<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <link rel="stylesheet" href="../../static/public/css/cabel-v1.css" type="text/css">
    <link rel="stylesheet" href="../../static/public/css/style.css" type="text/css"><!--页面CSS-->
    <link rel="stylesheet" href="../../static/public/css/animate.min.css" type="text/css"><!--CSS3动画-->
    <link rel="stylesheet" href="../../static/public/css/lottery.css" type="text/css"><!--页面CSS-->
    <link rel="stylesheet" href="../../static/public/css/liMarquee.css" type="text/css"><!--页面CSS-->
    <link rel="stylesheet" href="../../static/public/jRange/jquery.range.css" type="text/css">
    <link rel="stylesheet" href="../../static/public/css/global.css" type="text/css"><!--页面CSS-->
    <link rel="stylesheet" href="../../static/public/css/other.css" type="text/css"><!--页面CSS-->
    <link rel="stylesheet" href="../../static/public/css/gfwf.css" type="text/css"><!--页面CSS-->
    <script src="../../static/public/js/fancyzoom.js" language="JavaScript" type="text/javascript"></script>
    <script src="../../static/public/js/fancyzoomhtml.js" language="JavaScript" type="text/javascript"></script>
    <script type="text/javascript" src="../../static/public/js/jquery.min.js"></script><!--jQuery库-->
    <script type="text/javascript" src="../../static/public/js/scrollanim.min.js"></script> <!--"动画库"-->
    <script src="../../static/public/js/type.js"></script><!--自定义封装函数-->
    <script src="../../static/public/js/global.js"></script><!--自定义封装函数-->
    <script src="../../static/public/js/jquery.cookie.js"></script><!--自定义封装函数-->
    <script src="../../static/public/js/jquery.md5.js"></script><!--自定义封装函数-->
    <script src="../../static/public/layer/layer.js"></script>
    <script src="../../static/public/js/jquery.nicescroll.js"></script>
    <script src="../../static/public/js/dateformat.js"></script>
    <script src="../../static/public/js/template.js"></script>
    <script src="../../static/public/js/swfobject/swfobject.js"></script>
    <script src="../../static/public/js/jquery.limarquee.js"></script>
    <script src="../../static/public/js/placeholders.jquery.min.js"></script>
    <script src="../../static/public/jRange/jquery.range-min.js"></script>

    <script src="../../static/public/js/rollups/tripledes.js"></script>
    <script src="../../static/public/js/components/mode-ecb.js"></script>
    <script src="../../static/public/js/move.js"></script>
    <script src="../../static/public/js/base.js"></script>
    <script>
        <!--
        // 屏蔽JS错误
        //    window.onerror = function(){return true;}
        // -->
        var nowHref = "../../error/index.html";
    </script>
    <script src="../../static/public/js/mobile-detect.min.js"></script><style>
    a:hover{
        color: red;

    }
    a:active{
        color:deepskyblue;
    }
</style>
    <style>
        .eveb_nav_sub .on,.button_1, .button_1:link, .button_1:visited,.alert_col h5,.onlineService,.head,.layui-layer-popup .layui-layer-title,.xzqd,.game_name .box2_stage p span i.acti,.Betting,.Single,.list_ject ul li .Result p a.acti,.list_ject ul li .Result p a.acti:hover,.top{background:#D32036!important}
        .eveb_nav_sub .on a,.bankInfo .name,.help_l_menu .title p .sum,.help_r_main .light,.game_name .box2_stage p span i,.game_name .box1_name  p i,.Account p a.red{color:#D32036!important}
        .eveb_nav_sub .on,.game_name .box2_stage p span{border:1px solid #D32036!important;}
        .eveb_nav_sub .on,.game_name .box2_stage p span i.acti{color:#fff!important;}
        .eveb_nav_sub .on a{border-top:1px #D32036 solid!important;}
        .eveb_nav_sub ul{border-bottom:1px #D32036 solid!important;}
        .alert_col div::-webkit-scrollbar-thumb {background-color: #D32036!important;}
    </style>
    <style>
        .head div h5,.Betting .tabs ul li,.top .nav h1{background:#B73638!important}
        .jf_box .url a,.eveb_form label.error,.eveb_transfer_box .center_wallet .money,.eveb_transfer_box .wallet_list li p{color:#B73638!important}
        .Betting .tabs ul li.acti{background:#fff!important}
        .button_1, .button_1:link, .button_1:visited{border:1px solid #B73638!important;}
    </style>
    <link rel="stylesheet" href="../../static/public/layer/skin/default/layer.css?v=3.0.11110" id="layuicss-skinlayercss"></head>
<body marginwidth="0" marginheight="0">
<script>if (window.top === window.self) {window.location.href = "../../";}</script><div id="gameContent">
    <div class="game_name">
        <div class="wid1">
            <div class="box1_name">
                <h2>广东11选5</h2>
                <p>Lottery results</p>
                <p class="p1">第<i id="number">20170608057</i>期</p>
                <div class="select">
                    <p>开奖时间: <span id="open_time"></span></p>
                </div>
            </div>
            <div class="box2_stage">
                <p><span><i class="acti">近一期</i><i>近十期</i></span><font id="lastNumber"></font></p>
                <div class="number pt10" id="lastOpenCode" style="display: block;font-size: 28px;"></div>
                <div class="number" id="lastOpenCodeList" style="display: none;">
                    <ul></ul>
                </div>
            </div>
            <div class="box3_timer">
                <p id="tip">20170608057期已开盘，欢迎投注。距离下一期还有:</p>
                <div class="timer_wrap" id="leftTime"><ol class="s"><span class="sp1">0</span><span class="sp2">0</span></ol><ol class="f"><span class="sp1">0</span><span class="sp2">6</span></ol><ol class="m"><span class="sp1">4</span><span class="sp2">4</span></ol></div>
            </div>
        </div>
    </div>

    <div class="Single wid1">
        <div class="layout at">
            <div class="Playmethod">
                <ul>
                    <li>
                        <b>快钱玩法</b>
                        <p class="kuaiqian">
                            <style>.Single .layout .Playmethod ul li p.kuaiqian span {
                                width: 61px;
                            }</style>
                            <span class="acti"><a href="javascript:void(0)" data-url="0">双面盘</a></span>
                            <span><a href="javascript:void(0)" data-url="1">1-5球</a></span>
                        </p>
                    </li>
                </ul>
            </div>

            <div id="sscContent"><div class="lot-content clearfix">
                <div class="fl main-left">
                    <div class="hd clearfix rehd tzgz" id="toptouzhu">
                        <div class="fl refl">
                            快捷金额：
                            <input type="text" class="txt">
                        </div>
                        <div class="kjanniu">
                            <a href="javascript:void(0)" class="img-50" data-num="50"></a>
                            <a href="javascript:void(0)" class="img-100" data-num="100"></a>
                            <a href="javascript:void(0)" class="img-500" data-num="500"></a>
                            <a href="javascript:void(0)" class="img-1000" data-num="1000"></a>
                            <a href="javascript:void(0)" class="img-5000" data-num="5000"></a>
                            <a href="javascript:void(0)" class="img-10000" data-num="10000"></a>
                        </div>
                    </div>
                    <div class="table-common">
                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th colspan="9">万位</th>
                            </tr>
                            <tr>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>

                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th colspan="9">千位</th>
                            </tr>
                            <tr>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>

                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th colspan="9">百位</th>
                            </tr>
                            <tr>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>

                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th colspan="9">十位</th>
                            </tr>
                            <tr>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>

                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th colspan="9">个位</th>
                            </tr>
                            <tr>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>

                        <table width="100%" border="1">
                            <thead>
                            <tr>
                                <th colspan="9">总和、龙虎和</th>
                            </tr>
                            <tr>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                                <th width="47">号码</th>
                                <th width="56">赔率</th>
                                <th>金额</th>
                            </tr>
                            </thead>

                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <div class="btns">
                        <button type="submit" class="btn btn-1">提交</button>
                        <button class="btn btn-2">重设</button>
                    </div>

                    <div class="game_tables">
                        <table width="100%" border="0" class="game_tab" id="bottom_zs_table_head">
                            <tbody>
                            <tr>
                                <th class="game_result choose" data-position="0">第一球</th>
                                <th class="game_result" data-position="1">第二球</th>
                                <th class="game_result" data-position="2">第三球</th>
                                <th class="game_result" data-position="3">第四球</th>
                                <th class="game_result" data-position="4">第五球</th>
                                <th class="game_result" data-position="zh">总和</th>
                            </tr>
                            </tbody>
                        </table>
                        <table width="100%" border="0" class="game_tab" id="bottom_zs_table_select">
                            <tbody>
                            <tr>
                                <th class="game_result choose" data-type="dx">大小</th>
                                <th class="game_result" data-type="ds">单双</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tbody>
                        </table>
                        <div id="bottom_zs_table_content"><table id="bottom_zs_table_0_ds" width="100%" border="0" class="resultLoad" style="display:none;"><tbody></tbody></table></div>
                    </div>
                </div>
            </div>
                <script>
                    $(function() {
                        $(".table-common table td").each(function() {
                            if ($(this).find("input").length > 0) {

                            } else {
                                $(this).css({"cursor": "pointer"});
                            }
                        });

                        $(".main-left .table-common .touzhuArea tbody tr td").click(function() {
                            if ($(this).find('input').length == 1) {
                                return;
                            }

                            var val = $(".main-left .fl input").val();
                            if (typeof val == 'undefined' || !val) {
                                val = '';
                            }
                            if($.inArray(playId, [318,330,319,321,325,496,495]) >= 0){
                                var obj = $(this).parent().children(':last-child').prevAll();
                                var wu_flag = $(this).parent();
                                if(obj.hasClass('bg-yellow')){
                                    $(this).parent().children(':last-child').prevAll().removeClass("bg-yellow");
                                    $(this).parent().children(':last-child').find("input").val("");
                                }else {
                                    if (!wu_flag.hasClass('wu')) {
                                        $(this).parent().children(':last-child').prevAll().addClass("bg-yellow");
                                        $(this).parent().children(':last-child').find("input").val(val);
                                    }
                                }
                            }
                        });

                        // 幸运选号
                        var tmpXyxhNums = getQueryString("nums");

                        var tmpXyxhMoney = getQueryString("money");
                        if (typeof tmpXyxhNums != 'undefined' && typeof tmpXyxhMoney != 'undefined' && tmpXyxhNums != '' && tmpXyxhMoney != '' && tmpXyxhNums != null && tmpXyxhMoney != null) {
                            var oArr = [
                                ['wan', '万位'],['qian', '千位'],['bai', '百位'],['shi', '十位'],['ge', '个位'],
                                ['tm_b', '特码B'],
                                ['gj', '冠军'],['jj', '季军'],['yj', '亚军'],['q4', '第四名'],['q5', '第五名'],['q6', '第六名'],['q7', '第七名'],['q8', '第八名'],['q9', '第九名'],['q10', '第十名']
                            ];

                            for (var i = 0; i < oArr.length; ++i) {
                                tmpXyxhNums = tmpXyxhNums.replace(new RegExp(oArr[i][0],'gm'), oArr[i][1]);
                            }

                            $(".main-left .fl input").val(tmpXyxhMoney);
                            var arr = tmpXyxhNums.split(",");


                            for (var i = 0; i < arr.length; ++i) {
                                var obj = $("[data-name='" + arr[i] + "']");
                                $(obj).val(tmpXyxhMoney);
                                $(obj).parent().prev().addClass("bg-yellow");
                                $(obj).parent().prev().prev().addClass("bg-yellow");
                            }
                        }
                    });
                </script>

                    </div>

        </div>
    </div><!--Single-->
    <div class="Betting wid1" id="bottomInfo">
        <div class="tabs">
            <ul>
                <li data-opertype="wdtz" class="acti">我的投注</li>
                <li data-opertype="wdzj">我的中奖</li>
                <li data-opertype="kjhm">今日开奖号码</li>
                <!--<li data-opertype="jjsm">奖金计算说明</li>-->
            </ul>
        </div>
        <div class="list_wrap wdtz" style="display: table;"></div>
        <div class="list_wrap wdzj" style="display: none;"></div>
        <div class="list_wrap kjhm" style="display: none;"></div>
        <div class="list_wrap jjsm" style="display: none;"></div>
    </div>





</div>
<script src="../../static/public/js/ssc.js"></script>

<div class="alert_log two2">
    <div class="alert_log_col">
        <h5>欢迎您登录<i>×</i></h5>
        <form onsubmit="registerLogin();return false;">
            <div>
                <h4><span><img src="../../static/public/img/l1.png"></span></h4>
                <p><input type="text" id="registerLoginAccount" placeholder="请输入您的账号"></p>
            </div>
            <div>
                <h4><span><img src="../../static/public/img/l2.png"></span></h4>
                <p><input type="password" id="registerLoginPassword" placeholder="密码"></p>
            </div>
            <!--<div>-->
                <!--<h4><span><img src="../../static/public/img/l2.png"></span></h4>-->
                <!--<p><input type="text" id="registerLoginYzm" placeholder="验证码" onfocus="refreshYzm(document.getElementById('registerYzmImg2'))"><img id="registerYzmImg2" onclick="refreshYzm(this)" src="../../code/yzm?imgWidth=113&amp;imgHeight=43&amp;imgFontHeight=40&amp;imgCodeY=35&amp;imgCodeX=2"></p>-->
            <!--</div>-->
            <h3><input type="checkbox"><a href="#">记住密码</a><span><a href="javascript:void(0)" id="online-serve" target="_blank">忘记密码？</a></span></h3>
            <h6><input type="submit" class="sub" value="登录"></h6>
        </form>
    </div>
</div>
<div type="text/html" id="soundContainer" style="display:none;"></div>
<script type="text/html" id="wdtzTemplate">
    <ul>
        <li class="not">
            <span>游戏种类</span>
            <span>期号</span>
            <span>玩法</span>
            <span>投注号码</span>
            <span>投注额</span>
            <span>奖金</span>
            <span>状态</span>
        </li>
        {{each list as value index}}
        {{if index % 2 == 0}}
        <li class="odd">
            {{else}}
        <li>
            {{/if}}
            <span>{{value.playGroupName}}</span>
            <span>{{value.number}}</span>
            <span>{{value.playName}}</span>
            <span>{{value.content}}</span>
            <span>{{value.totalMoney}}</span>
            <span>{{value.zjMoney}}</span>
            {{if value.status == 0}}
            <span>等待开奖</span>
            {{else if value.status == 1}}
            <span>已中奖</span>
            {{else if value.status == 2}}
            <span>未中奖</span>
            {{else}}
            <span>和</span>
            {{/if}}
        </li>
        {{/each}}
        <li style="width:100%;text-align:center;"><a href="../../member/deal.html" target="_blank">查看更多</a></li>
    </ul>
</script>
<script type="text/html" id="wdzjTemplate">
    <ul>
        <li class="not">
            <span>游戏种类</span>
            <span>期号</span>
            <span>玩法</span>
            <span>投注号码</span>
            <span>投注额</span>
            <span>中奖金额</span>
            <span>状态</span>
        </li>
        {{each list as value index}}
        {{if index % 2 == 0}}
        <li class="odd">
            {{else}}
        <li>
            {{/if}}
            <span>{{value.playGroupName}}</span>
            <span>{{value.number}}</span>
            <span>{{value.playName}}</span>
            <span>{{value.content}}</span>
            <span>{{value.totalMoney}}</span>
            <span>{{value.zjMoney}}</span>
            {{if value.status == 0}}
            <span>等待开奖</span>
            {{else if value.status == 1}}
            {{if value.zjMoney > 0}}
            <span>已中奖</span>
            {{else}}
            <span>未中奖</span>
            {{/if}}
            {{else if value.status == 2}}
            <span>已撤单</span>
            {{/if}}
        </li>
        {{/each}}
        <li style="width:100%;text-align:center;"><a href="../../member/deal.html" target="_blank">查看更多</a></li>
    </ul>
</script>
<script type="text/html" id="kjhmTemplate">
    <ul>
        <li class="not">
            <span>游戏种类</span>
            <span>期号</span>
            <span>奖号</span>
            <span>开奖时间</span>
        </li>
        {{each list as value index}}
        {{if index % 2 == 0}}
        <li class="odd">
            {{else}}
        <li>
            {{/if}}
            <span>{{value.playGroupName}}</span>
            <span>{{value.number}}</span>
            <span style="color:red;">{{value.openCode}}</span>
            <span>{{value.openTime}}</span>
            <span class="pid" style="visibility: hidden">{{value.playGroupId}}</span>
        </li>
        {{/each}}
        <li style="width:100%;text-align:center;"><a href="../../common/draw.html?open=gd115" target="_blank">查看更多</a></li>
    </ul>
</script>
<script>
</script>
<script>
    var playGroupId = 1;    // 彩种ID
</script>
<script>
    // 随机号码
    function randomNumber() {
        var arr = [];
        var tmpStr = '';
        for (var i = 0; i < 6; ++i) {
//            tmpStr += '<span>' + (Math.floor(Math.random() * 10)) + '</span>';

            if(i <= 5) {
                if( i < 5) {
                    if(i < 4) {
                        tmpStr += '<span style="float: inherit;display: inline-block;margin: 0 2px;">0' + (Math.floor(Math.random() * 10))  + '</span>+';
                    }else {
                        tmpStr += '<span style="float: inherit;display: inline-block;margin: 0 2px;">0' + (Math.floor(Math.random() * 10))  + '</span>';
                    }

                }
                else {
                    var num = (Math.floor(Math.random() * 100));
                    if(num < 10){
                        num = '0'+num;
                    }
                    tmpStr += '=<span style="float: inherit;display: inline-block;margin: 0 2px;">' + num + '</span>';
                }
            }
        }
        $("#lastOpenCode").html(tmpStr);
    }

    // 渲染上期开奖模板
    function renderLastOpenCode(openCodeArr) {
        var tmpStr = '';
        $.each(openCodeArr, function(index, value) {
            if(index <= openCodeArr.length-1) {
                if(index < openCodeArr.length-1) {
                    if(index < openCodeArr.length-2) {
                        tmpStr += '<span style="float: inherit;display: inline-block;margin: 0 2px;">' + value + '</span>+';
                    }else {
                        tmpStr += '<span style="float: inherit;display: inline-block;margin: 0 2px;">' + value + '</span>';
                    }

                }
                else {
                    tmpStr += '=<span style="float: inherit;display: inline-block;margin: 0 2px;">' + value + '</span>';
                }
            }
        });
        $("#lastOpenCode").html(tmpStr);
    }
</script>
<!-- 开奖历史模板 -->
<script type="text/html" id="template_openDataHistory">
    <li>
        <p>第{{number}}期</p>
        {{if list.length == 0}}
        <p style="margin-left:5px">开奖中</p>
        {{else}}
        {{each list as value}}
        <i>{{value}}</i>
        {{/each}}
        {{/if}}
    </li>
</script>

</body></html>