.main-content{
    background: #efeff4;
}
.cl-701 .button.active span, .cl-701 .button.active span, .gonggao_title, .cl-801, .cl-306 .list-block ul li a .item-inner .cl-307:first-child span:last-child, .cl-330 a, .edit_color, .cl-318 .info, .glxq {
    color: #fa6200!important;
}
.cl-330 {
    font-size: .5rem;
    text-align: center;
    background: #fff;
    padding: .75rem 0;
    border-bottom: 1px solid #ddd;
}
.cl-100 {
    text-align: center;
    margin: 1rem 0;
    padding: 0;
}
.row {
    overflow: hidden;
    margin-left: -4%;
}
.cl-100 .col-100 {
    margin: 0 auto;
    width: 100%;
    display: block;
    font-size: 18px;
}
.cl-302 .list-block {
    margin: 0;
}
.list-block {
    margin: 1.75rem 0;
    font-size: .85rem;
}
.list-block ul {
    background: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.list-block li {
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.list-block .item-content {
    box-sizing: border-box;
    padding-left: .75rem;
    min-height:44px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.cl-302 .item-content {
    padding-left: 10px;
    font-size: 13px;
    color: #3d4145;
}
.edit_color {
    padding-left: 10px;
    color: #FA6200 !important;
}
.list-block .item-media {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-box-lines: single;
    -moz-box-lines: single;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: .35rem;
    padding-bottom: .4rem;
    display: flex;
}
.cl-302 .icon {
    background-repeat: no-repeat;
    background-size: 24px;
    width: 24px;
    height: 24px;
}
.icon-form-zhyhm {
    background-image: url(https://m.600wan.cm/static/public/img/ico37.png);
}
.icon-form-zhdj {
    background-image: url(https://m.600wan.cm/static/public/img/ico40.png);
}
.cl-311 .icon-form-zhye{
    background-image: url(https://m.600wan.cm/static/public/img/ico39.png);
}
.cl-311 .icon-form-szyxtz {
    background-image: url(https://m.600wan.cm/static/public/img/ico45.png);
}
.cl-311 .icon-form-bzyxtz {
    background-image: url(https://m.600wan.cm/static/public/img/ico44.png);
}
.cl-311 .icon-form-zjck {
    background-image: url(https://m.600wan.cm/static/public/img/ico46.png);
}
.cl-311 .icon-form-zjqk {
    background-image: url(https://m.600wan.cm/static/public/img/ico47.png);
}
.icon-form-zhzsxm {
    background-image: url(https://m.600wan.cm/static/public/img/ico38.png);
}
.icon-form-zhfd {
    background-image: url(https://m.600wan.cm/static/public/img/ico41.png);
}
.cl-311 .icon-form-scdlsj {
    background-image: url(https://m.600wan.cm/static/public/img/ico42.png);
}
.cl-311 .icon-form-scfwip {
    background-image: url(https://m.600wan.cm/static/public/img/ico43.png);
}
.green {
    color: green;
}
.icon {
    font-family: iconfont-sm!important;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale;
}
.icon_ok {
    background-position: -30px -10px;
}
.icon_mini {
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    background-image: url(https://m.600wan.cm/static/public/img/icon.png);
}
.list-block .item-inner {
    position: relative;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 7px;
    min-height: 2.2rem;
    overflow: hidden;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-right: .75rem;
}
.cl-302 .list-block .item-media+.item-inner {
    margin-left: 10px;
}
.cl-311 .list-block .item-content .item-inner .item-title, .cl-311 .list-block .item-media + .item-inner .item-input input {
    font-size: 0.9rem;
}
.cl-302 .list-block .item-media+.item-inner .item-title:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 1px;
    background: #ddd;
    display: block;
}
.list-block .item-input {
    width: 100%;
    margin-top: -8px;
    margin-bottom: -7px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    padding-left: 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .list-block .item-inner:after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}

.list-block .item-content:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    background-color: #e7e7e7;
    display: block;
    z-index: 4;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.list-block .item-title.label {
    width: 50%;
}
.cl-302 .list-block .item-media+.item-inner .item-title {
    text-align: right;
    position: relative;
}